extends layout
block content
    section
        a(class='diagram' href=link) Add Diagram
        each item in data
            a(class='diagram' href=item.link) #{item.id}
        a(class='diagram' href='/delete') Delete Diagram