* {
    font-family: 'Comfortaa', sans-serif;
    /* font-family: 'Baloo 2', cursive; */
    /* font-family: 'Ubuntu', sans-serif; */
    /* font-family: 'Sniglet', cursive; */
    /* font-family: 'Comic sans MS', cursive; */
    font-weight: 100;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* overflow-y: hidden; */
    overflow-x: hidden;
    /* align-content: center; */
    /* justify-items: center; */
    background: #333;
    color: #ddd;
}

html {
    display: flex;
}

body {
    display: grid;
    grid-template-areas: 'nav' 'content' 'footer';
    grid-template-rows: 5fr 90fr 5fr;
    height: 100vh;
    width: 100vw;
}

header {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    height: 100%;
    min-height: 3em;
    width: 100vw;
    overflow: hidden;
}

.navbar {
    text-decoration: none;
    width: 100%;
    padding: 20px 0;
    font-size: 24pt;
    transition: all 0.5s ease-in-out;
}

.navbar:hover {
    background: #555;
}

main {
    display: flex;
    flex-direction: column;
    grid-area: content;
    height: 100%;
    width: 100%;
}

footer {
    display: flex;
    grid-area: footer;
    height: 100%;
    width: 100%;
    min-height: 30px;
}

h1 {
    /* font-family: 'Comfortaa', sans-serif; */
    font-size: 200pt;
    background: linear-gradient(to right,#b93883,#3879b9,#38b983,#b9ac38);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    /* font-family: 'Comfortaa', sans-serif; */
    font-size: 14pt;
    font-weight: 900;
    font-style: italic;
}

b {
    font-weight: 100;
    /* text-decoration: underline; */
    /* background: linear-gradient(to right,#b93883,#3879b9,#38b983,#b9ac38);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

section {
    display: flex;
    flex-wrap: wrap;
    /* overflow-y: auto; */
}

.diagram {
    display: flex;
    font-size: 50px;
    width: 30vw;
    height: 30vh;
    text-decoration: none;
    border: white 4px solid;
    border-radius: 40px;
    margin: 5px;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

.diagram:hover {
    background: #555;
}